<ion-card class="card">
  <ion-card-header class="card-header card-header-success card-header-icon">
    <div class="card-icon">
        <ion-icon class="material-icons" name="heart"></ion-icon>
    </div>
    <h3 class="card-title">Screen-1</h3>
  </ion-card-header>

  <ion-card-content class="card-body">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <!-- <ion-row>
            <ion-col size="4" margin-left>
              <h5>Total Clients</h5>
              <h1>12</h1>
            </ion-col>
            <ion-col size="4">
              <h5>Total Locations</h5>
              <h1>546</h1>
            </ion-col>
            <ion-col size="4">
              <h5>Total SmartScreens</h5>
              <h1>5673</h1>
            </ion-col>
          </ion-row> -->
          <div class="screen">
            <p>Screen goes here. next to is the screen info followed by the screen stats.</p>
          </div>
        </ion-col>
        <ion-col size="3">
          <ion-row>
            <ion-col size="12">
              <h6>Lorem ipsum</h6>
              <p>Lorem ipsum dolor sit amet. </p>
            </ion-col>
            <ion-col size="12">
              <h6>Sed vel</h6>
              <p>Sed vel odio a purus ornare viverra</p>
            </ion-col>
            <ion-col size="12">
              <h6> Other Details</h6>
              <p>Etiam volutpat massa tempus dignissim ornare. Vestibulum accumsan nulla et purus maximus placerat. </p>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="5">
          <ion-row>
            <ion-col size="4">
                <h6>Total Panels</h6>
              <h2>36</h2>
            </ion-col>
            <ion-col size="4">
              <h6>Active Panels</h6>
              <h2>24</h2>
            </ion-col>
            <ion-col size="4">
              <h6>Idle Panels</h6>
              <h2>09</h2>
            </ion-col>
            <ion-col size="12">
              <h6>Avg LifeSpan</h6>
              <h2>05m 22d 11h</h2>
            </ion-col>
            <ion-col size="12">
              <ion-button color="primary">Remove
              </ion-button>
              <ion-button color="primary">Report
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
