<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="3" offset="4">
        <app-info-cards></app-info-cards>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" offset="3">
          <app-stat-card></app-stat-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10" offset="1">
          <app-screen></app-screen>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
