<ion-card class="card card-stats">
  <ion-card-header class="card-header card-header-success card-header-icon">
    <div class="card-icon">
        <ion-icon class="material-icons" name="heart"></ion-icon>
    </div>
    <p class="card-category">Used Space</p>
    <h3 class="card-title">49/50
      <small>GB</small>
    </h3>
  </ion-card-header>

  <div class="card-footer">
      <div class="stats">
        <ion-icon class="material-icons" name="calendar"></ion-icon> Last 24 Hours
      </div>
  </div>
</ion-card>

<!-- <div class="card card-stats">
  <div class="card-header card-header-warning card-header-icon">
    <div class="card-icon">
      <ion-icon class="material-icons" name="heart"></ion-icon>
    </div>
    <p class="card-category">Used Space</p>
    <h3 class="card-title">49/50
      <small>GB</small>
    </h3>
  </div>
  <div class="card-footer">
    <div class="stats">
      <i class="material-icons text-danger">warning</i>
      <a href="#pablo">Get More Space...</a>
    </div>
  </div>
</div> -->